@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}
:root {
  --pa-1-color: #fb8e0b;
  --pa-2-color: #fd6003;
  --header-color: #1b1c20;
  --body-color: #383a47;
  --body-color-3: #797b89;
  --body-color-4: #c6c8d3;
  --body-neutral: #ffffff;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 2rem;
  font-family: "DM Sans", sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
nav ul li a {
  text-decoration: none;
  color: #1b1c20;
}
.login {
  font-family: "DM Sans", sans-serif;
  color: var(--header-color);
  background: transparent;
  border: none;
  font-size: 16px;
  font-weight: 500;
}
.login:hover{
  cursor: pointer;
}
.nv ul :hover {
  color: var(--pa-1-color);
}
.free {
  font-family: "DM Sans", sans-serif;
  border-radius: 8px;
  padding: 13px 21px;
  background-color: var(--pa-1-color);
  color: var(--body-neutral);
  border: none;
}
.free:hover {
  cursor: pointer;
  color: var(--pa-1-color);
  background-color: var(--body-neutral);
  transition: 0.3s ease-in-out;
}
.btns {
  display: flex;
  gap: 34px;
}
.hamburger-menu {
  display: none;
}
.nv.show-menu {
  display: block;
}
.second {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  padding: 0 186px;
}
.image {
  max-width: 100%;
  height: auto;
}
.one {
  font-family: "Arvo", serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  color: var(--header-color);
}
.two {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--body-color);
}
.second button {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  background-color: var(--pa-1-color);
  color: var(--body-neutral);
  outline: none;
  border: none;
  padding: 16px 26px;
  border-radius: 8px;
}
.second button:hover {
  cursor: pointer;
}
.third {
  padding: 80px 152px;
  margin-bottom: 15px;
}
.third .mainTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: "Arvo", serif;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  font-family: "DM Sans", sans-serif;
}
.cards svg {
  width: 100px;
  height: 100px;
}

.cardContent .content1 {
  font-size: 21px;
  font-weight: 700;
}
.fourth {
  background: #f8f8fa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  place-items: center;
  padding: 3rem;
}
.fourth img {
  width: 366.736px;
  height: 419px;
}
.txt {
  display: flex;
  flex-wrap: wrap;
}
.txt1 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  font-family: "Arvo", serif;
  padding: 0 15%;
}
.txt2 {
  padding: 0 15%;
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}
.fifth {
  background-color: white;
}
.sixth {
  background-color: var(--pa-1-color);
  width: auto;
  height: 747px;
}
.ttl {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  color: var(--pa-2-color);
  font-family: "DM Sans", sans-serif;
}
.ctn {
  padding: 0 2%;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: var(--body-color);
  opacity: 0.7;
}
.heading {
  padding-top: 1%;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  font-style: normal;
  text-align: center;
  color: var(--body-neutral);
  font-family: "DM Sans", sans-serif;
}
.testimonials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}
.box {
  position: relative;
  width: 600px;
  height: 244.444px;
  text-align: center;
  border-radius: 11.111px;
  background: var(--body-neutral);
}

.box::after {
  content: "";
  position: absolute;
  bottom: -8px;
  width: 0;
  height: 0;
  border-style: solid;
  transform: rotate(315deg);
  border-width: 20px 0 0 20px;
  border-color: transparent transparent transparent white;
}
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  margin-top: 20%;
}
.PTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  align-items: center;
  font-family: "DM Sans", sans-serif;
  margin: 0;
}
.name {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}
.position {
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.mainHeading {
  font-family: "Arvo", serif;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
}
.btnss {
  display: flex;
  gap: 40%;
}
.nvCtn{
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  justify-content: center;
}
.footerMain {
  display: flex;
  justify-content: space-around;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  font-family: "DM Sans", sans-serif;
  color: var(--body-color-3);
  cursor: pointer;
}
svg:hover{
  cursor: pointer;
}
hr{
  margin-bottom: 0;
  width: 70%;
  opacity: 40%;
}


/* Media query for tablet and phone views */
@media screen and (max-width: 768px) {
  html {
    margin: 0;
    padding: 0;
  }
  .nv {
    display: none;
  }
  .btns {
    display: none;
  }
  .hamburger-menu {
    display: block;
    cursor: pointer;
  }
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
    cursor: pointer;
  }
  .hamburger-icon span {
    width: 100%;
    height: 3px;
    background-color: #333;
  }
  nav {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
  }
  .nv.show-menu ul {
    position: fixed;
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
    list-style: none;
    width: 50%;
    height: 100%;
    justify-content: center;
    background-color: white;
  }
  .second {
    grid-template-columns: repeat(1, 1fr);
  }

  .image img {
    width: 310.736px;
    height: 448.892px;
    object-fit: contain;
  }
  .image {
    order: -1;
  }
  .one {
    font-size: 34px;
    line-height: 49px;
  }
  .two {
    font-size: 18px;
    line-height: 32px;
  }
  .third {
    padding: 0;
    margin: 0;
  }
  .third .mainTitle {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .cards p {
    text-align: center;
  }
  .cards svg {
    height: 50px;
    width: 50px;
  }
  .fourth {
    grid-template-columns: repeat(1, 1fr);
  }
  .txt1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-align: start;
  }
  .txt2 {
    text-align: start;
  }
  .img {
    order: -1;
  }
  .sixth {
    width: auto;
    height: 1000px;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    row-gap: 150px;
  }
  .profile {
    margin-top: 9%;
  }
  .box {
    padding: 0 5%;
    width: 343px;
    height: 244.309px;
  }
  .ttl {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
  }
  .ctn {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
  .nvn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  .mainHeading {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
  .footerMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
}

@media screen and (max-width: 1360px) {
  .mainHeading {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
  }
  .nvn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
  }
  .nvCtn ul {
    display: flex;
    justify-content: center;
    margin-right:autp;
  }
  .btnss{
    display: flex;
    justify-content:center ;
  }
  .sixth {
    height: 1100px;
  }
  .profile {
    margin-top: 15%;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    row-gap: 150px;
  }
}
@media screen and (max-width: 1024px){

  .second {
    grid-template-columns: repeat(1, 1fr);
  }
  .image{
    order: -1;
  }
}